<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>News Viewer</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/">



    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/lib/favicons/test/stream/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="~/lib/favicons/test/stream/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="~/lib/favicons/test/stream/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="~/favicons/test/stream/manifest.json">
    <link rel="icon" href="~/lib/favicons/test/stream/favicon.ico">
    <meta name="theme-color" content="#cce0ff">


    <!-- Custom styles for this template -->
    <link href="~/css/offcanvas.css" rel="stylesheet">
</head>


<body style="        background-color: #e6e6ff
">
    <header>

        <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="        background-color: #0000b3
" aria-label="Main navigation">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-page="/Index">NEWS VIEWER</a>
                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Articles">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" name="Search" value="@ViewData["search"]" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - NewsVisualizer - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="~/js/offcanvas.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
