@model IEnumerable<Data.Models.Source>

@{
    ViewData["Title"] = "Index";
}
<br />

<div>
    <h1 class="text-dark fst-italic">SOURCES</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>


<br/>

<table class="table table-dark table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>
                Name Source
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameSource)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SourceId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.SourceId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.SourceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
