@model Data.Models.Article

@{
    ViewData["Title"] = "Create";
}

<script>
    tinymce.init({
        selector: 'textarea#tinymce',
        language: 'es',
        width: 600,
        height: 300,
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullpage | ' +
            'forecolor backcolor emoticons | help',
        menubar: 'favs file edit view insert format tools table help',
        content_css: '~/css/tinymce.css'
    });
</script>

<h1>Create</h1>

<div>
    <h1 class="text-dark fst-italic">NEW ARTICLE</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label">Author</label>
                    <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    @*<input asp-for="Description" class="form-control" />*@
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea id="tinymce" asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group row">
                        <label asp-for="Urlarticle" class="control-label">URL</label>
                        <input asp-for="Urlarticle" class="form-control" />
                        <span asp-validation-for="Urlarticle" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Urlimagen" class="control-label">URL to Principal Image</label>
                        <input asp-for="Urlimagen" class="form-control" />
                        <span asp-validation-for="Urlimagen" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PublishedAt" class="control-label">Published At</label>
                        <input asp-for="PublishedAt" class="form-control" />
                        <span asp-validation-for="PublishedAt" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group row">
                        <label asp-for="SourceId" class="control-label"></label>
                        <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Source</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountryId" class="control-label">Country</label>
                        <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                    </div>
                </div>
            </div>           
           
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label">Language</label>
                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
            </div>
            <br />
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {


    @*--- CONFIGURACIÓN DEL EDITOR HTML TINY-MCE ---*@
    <!--<script type="text/javascript" src="~/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript" src="~/tinymce/tinymce.min.js"></script>

    <script type="text/javascript" src="~/tinymce/plugins/image/plugin.min.js"></script>
    <script type="text/javascript" src="~/tinymce/plugins/link/plugin.min.js"></script>
    <script type="text/javascript" src="~/tinymce/plugins/code/plugin.min.js"></script>
    <script type="text/javascript" src="~/tinymce/plugins/colorpicker/plugin.min.js"></script>
    <script type="text/javascript" src="~/tinymce/plugins/textcolor/plugin.min.js"></script>
    <script type="text/javascript" src="~/tinymce/plugins/emoticons/plugin.min.js"></script>
    <script type="text/javascript" src="~/tinymce/plugins/imagetools/plugin.min.js"></script>
    <script type="text/javascript" src="~/tinymce/plugins/codesample/plugin.min.js"></script>

    <script type="text/javascript" src="~/tinymce/themes/silver/theme.min.js"></script>-->

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

